* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#viewport {
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#canvas {
    background-color: transparent;
    width: 300px;
    height: 300px;
}

#add-note {
    cursor: pointer;
    background-color: #efefef;
    width: 100px;
    height: 50px;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.note_container {
    position: absolute;
}

.note {
    background-color: aliceblue;
    border: 1px dashed #767676;
    width: 150px;
    height: 150px;
    resize: both;
    overflow: auto;
}

.note textarea {
    background: transparent;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.toolbar {
    display: none;
    position: absolute;
    bottom: 100%;
}

.toolbar.active {
    display: flex;
    align-items: center;
}

.drag_handle {
    background-color: #efefef;
    border: 1px solid #767676;
    border-radius: 10%;
}